<div class="row app-one">
    <div class="col-sm-4 side">
      <!-- All the Active Users are Displayed Bro -->
      <% include includes/usersList.ejs %>

      <!-- All the Contacted Users are Displayed Bro -->
      <% include includes/usersContactList.ejs %>
    </div>

    <div class="col-sm-8 conversation">
      <!-- Receiver Header Bro -->
      <% include includes/conversationHeading.ejs %>

      <!-- Chat History Bro -->
      <% include includes/chatHistory.ejs %>

      <!-- Place to Enter Messages here -->
      <% include includes/messageArea.ejs %>
    </div>
</div>
